<section class="home">
  <section class="home__content">
    <p class="home__sub-heading">Donations Campaigns</p>
    <h1 class="home__heading">Make a Positive Impact</h1>
    <p class="home__supporting-text">
      Every penny counts,
      <br />
      Donate now and make the world a better place.
    </p>
  </section>

  <section class="home__campaigns">
    @if(isLoading()) { 
      @for (item of [].constructor(4); track $index) {
        <app-card [skeleton]="true" />
      } 
    } @else { 
      @for (campaign of campaigns(); track campaign.id) {
        <app-card
          [image]="campaign.imageUrl"
          [name]="campaign.name"
          [goal]="campaign.goal"
          [currentAmount]="campaign.currentAmount"
          [routerLink]="['/campaign-details', campaign.id]"
        />
      } 
    }
  </section>
</section>
