@if (skeleton()) {
<div class="card card--skeleton">
  <div skeleton class="card__image image" height="200" borderRadius="0"></div>
  <div skeleton class="card__progress-bar" height="10px"></div>
  <div
    skeleton
    class="card__name"
    height="24px"
    width="80%"
    borderRadius="30px"
  ></div>
  <div skeleton class="card__supporting-text" height="15px" width="40%"></div>
  <div skeleton class="card__supporting-text" height="15px" width="40%"></div>
</div>
} @else {
<div class="card">
  <div class="card__image image">
    @if (isLoading() && !removeLoader()) {
    <div class="loading-spinner">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="40"
        strokeWidth="5"
        data-spinner
      >
      </mat-progress-spinner>
    </div>
    }
    <img
      appImageFallback
      [imageSrc]="image()"
      [src]="image()"
      (load)="hideSpinner()"
      (error)="hideSpinner()"
      [alt]="name()"
      [class.hidden]="isLoading() && !removeLoader()"
    />
  </div>
  <app-progress-bar [percentage]="percentage()" class="card__progress-bar" />
  <h3 class="card__name">{{ name() }}</h3>
  <p class="card__supporting-text">Target: ${{ goal() }}</p>
  <p class="card__supporting-text">Raised: ${{ currentAmount() }}</p>
</div>
}
