.card {
  display: grid;
  gap: 5px;
  cursor: pointer;

  &__image {
    height: 200px;
  }

  &__progress-bar {
    margin: 13px 0 7px 0;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }

  &__supporting-text {
    color: var(--secondary-font-color);
  }

  &:hover &__image img {
    transition: all 0.5s ease;
    transform: scale(1.05);
  }
  &:hover &__name {
    transition: all 0.5s ease;
    color: var(--main-color);
  }
}
