<header class="header">
  
  <app-logo />

  <div class="header__nav">
    <ul>
      <li class="header__nav-item" routerLinkActive="header__nav-item--active">
        <a [routerLink]="['/campaigns']">Campaigns</a>
      </li>

      <li class="header__nav-item">
        <a [routerLink]="['/about']">About</a>
      </li>
    </ul>

    <div class="header__buttons">
      <button customButton [primary]="false">Log in</button>
      <button customButton>Sign up</button>
    </div>
  </div>
</header>
