<section class="subscribe-section">
  <h1 class="subscribe-section__title">Get Notified of New Campaigns</h1>
  <p class="subscribe-section__subtitle">Be the first to know!</p>

  <div class="subscribe-section__form">
    <div class="subscribe-section__input-group">
      <input class="subscribe-section__input" customInput type="text" placeholder="Enter Your Email"/>
      <p class="subscribe-section__note">
        We care about your data in our 
        <a class="subscribe-section__link" href="">privacy policy</a>
      </p>
    </div>
    <button class="subscribe-section__button" customButton>Subscribe</button>
  </div>
</section>
