<section>
    <ul>
        <li>Product</li>
        <li>Overview</li>
        <li>Features</li>
        <li class="new">Solutions</li>
        <li>Tutorials</li>
        <li>Pricing</li>
        <li>Releases</li>
    </ul>
    <ul>
        <li>Company</li>
        <li>About us</li>
        <li>Careers</li>
        <li>Press</li>
        <li>News</li>
        <li>Media kit</li>
        <li>Contact</li>
    </ul>
    <ul>
        <li>Resources</li>
        <li>Blog</li>
        <li>Newsletter</li>
        <li>Events</li>
        <li>Help centre</li>
        <li>Tutorials</li>
        <li>Support</li>
    </ul>
    <ul>
        <li>Legal</li>
        <li>Terms</li>
        <li>Privacy</li>
        <li>Cookies</li>
        <li>Licenses</li>
        <li>Settings</li>
        <li>Contact</li>
    </ul>
</section>
<section>

</section>
